html{
	font-family: sans-serif;
    line-height: 1.15;
}
body{
	margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.f-right{
	float: right;
}
.bg-gray{
	background-color: grey;
}
.food-icon{
    font-size: 10rem;
  }
.red{
    color:red;
  }
 .pad{
  	padding: 2rem;
  }
  .p-r{
  	position: relative;
  }
  .p-a{
  	position: absolute;

  }
  .containerr{
  	position: relative;
  	width: 100%;
  	height: 20%;
  }
   .containerr img{
  	width: 100%
  	height:auto;
  }

  .containerr .butn{
  	position:absolute;
  	top:70%;
  	left:70%;
  	transform:translate(-50%,-50%);
  	-ms-transform:translate(-50%,-50%);
  	background-color: blue;
  	color:white;
  	font-size: 1.8rem;
  	padding:12px 24px;
  	border: none;
  	cursor: pointer;
  	border-radius:5px;
  }
.btnn:hover, .butn:hover{
  	background-color: black;
  }
  .btnn{
  	color:white;
  	font-size: 0.8rem;
  	border: none;
  	cursor: pointer;
  	border-radius:5px;
  	background-color: blue;
  	width: 5rem;
    height: 2.5rem;
  }
  .image-meal{
  	padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
  }
  .width{
  	width:30%
  }
  #menu{
  	padding: 2%;
  	display: none;
  }
.fontmeal{
	font-size:rem;
}
.display {
	display: flex;
}
.chinese{
	background-color: red;
	padding: 2rem;
	margin: 2rem;
}
.regular{
	background-color: yellow;
	padding: 2rem;
	margin: 2rem;
}
.roasts{
	background-color: pink;
	padding: 2rem;
	margin: 2rem;
}

@media (max-width: 600px){
	.display {
		display: block;
	}
	.width{
		width: 80%;
	}
	.pad{
		padding: 1rem;
	}
}

.buttn{
  	background-color: blue;
  	color:white;
  	font-size: 1.5rem;
  	padding:12px 24px;
  	border: none;
  	cursor: pointer;
  	border-radius:5px;
  }
}
.contain{
	padding: 2rem;
	height: 100%
}
.admin-img{
	background-image: url(images/background5.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 3;
}
.pad-l{
padding-left: 5rem;
}
form{
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s 
}
.menu-form{
	width: 60%;
}
label{
	padding: 1rem;
	display: inline-block;
    margin-bottom: .5rem;
}
input{
	border-radius: 3px;
	margin:3px solid;
}
.button{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ;
    background-color: blue;;
    margin-top: .75rem;
    color: white;
}
#set-menu{
	display: none;
}
#get-menu{
	display: none;
}
#order-summary{
	display: none;
}
button:hover{
	background-color: black;
}
.login-img{
	background-image: url(images/fourthslide.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 3;
}
.login{
	margin: 5rem;
	float: right;
	width:40%;
}
.signup{
	margin: 3rem;
	float: right;
	width:40%;
}
.pad-b{
	padding-bottom: 39.5rem;
}
 h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}

h3 {
    font-size: 1.75rem;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
input{
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.signup-img{
	background-image: url(images/regularbanner.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 3;

}